.poll {
  text-decoration: none;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  cursor: default;
}
.pollInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid #CAD0D2;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}
.pollTitle {
  margin: 20px 0 10px;
}
.pollInfo .pollChoices {
  font-size: 3em;
  color: maroon;
}
.pollAnswers {
  text-align: center;
  color: #57727C;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #D7DBDD;
  background-color: #EEF3F5;
}
.pollChoices div {
  line-height: 1.5em;
}
.pollInfo table {
  width: 50%;
  margin: 0 auto;
}
