nav {
  background: #000;
  color: white;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav li {
  padding: 10px;
}
nav a, nav a:hover, nav a:visited, nav a:focus {
  color: white;
  margin: 10px;
  text-decoration: none;
}
nav li:hover {
  background: mediumseagreen;
}
