nav {
  background: #000;
  display: flex;
  flex-direction: row;
}
nav ul {
  list-style: none;
  margin: 0 !important;
  display: flex;
  flex-grow: 1;
}
nav a, nav a:visited {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}
nav a:hover, nav a.active {
  background: darkcyan;
  color: #000;
}
.naveUsername {
  color: white;
  padding: 10px;
}
